/* add global styles here */
:root {
  --light-blue: #E1F2F7;
  --red: #EF0D50;
  --pink: #EB3A70;
  --light-pink: #E5BACE;
}

html, main {
  /*background-color: var(--light-blue); <-- not sure about this*/
  overflow-x: hidden;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

#newCard {
  width: 250px;
  /*height: 350px;*/
  margin: 18px;
  padding: 10px;
  /*filter: drop-shadow(2px 2px 5px #000000);*/
  /* not too sure about the drop shadow */
}

#navbar {
  background-color: var(--pink);
  filter: drop-shadow(0px 2px 5px #000000);
}

#navLink {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}