/* Add styles for index.js here */
/* can only have pure selectors inside of module files!! */

#about {
  background-image: url("/donuts-pink-stacks.webp");
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 80vh;
}

#mainText {
  margin: auto;
  color: var(--pink);
}

#mainTitle {
  font-size: 10vw;
}

#mainDescription {
  font-size: 2vw;
  margin-left: 1vw;
}

#color {
  color: var(--light-pink);
}

/*#mainButton {
  background-color: var(--light-blue);
  border: 1px solid var(--pink);
}*/

#card {
  width: 150px;
  height: 200px;
  margin: 18px;
  padding: 10px;
}